.header {
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    min-height: 80px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__open-menu {
    display: none;
    cursor: pointer;
}

.logo {
    display: block;
    width: 64px;
}

.navbar__close {
    display: none;
}

.navbar__close svg {
    cursor: pointer;
}

.navbar__list {
    display: flex;
    gap: 24px;
}

.navbar__link {
    padding-bottom: 24px;
    text-align: center;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 5px solid transparent;
}

.navbar__link:hover {
    border-bottom-color: var(--hover-border-color);
}

.badge {
    line-height: 0;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: normal;
    color: #ff3f6c;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar {
    min-width: 370px;
    display: flex;
}

.search-bar__submit {
    width: 40px;
    text-align: center;
    padding: 8px 0 2px;
    background: #f5f5f6;
    color: #696e79;
    border: 1px solid #f5f5f6;
    border-right: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    flex-shrink: 0;
    cursor: pointer;
}

.search-bar__input {
    font-size: 14px;
    line-height: 24px;
    color: #696e79;
    padding: 8px 10px 10px;
    border: 1px solid #f5f5f6;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    background: #f5f5f6;
    outline: none;
    flex-grow: 1;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 18px;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 0;
    border-bottom: 5px solid transparent;
}

.action--profile:hover {
    border-block-color: var(--hover-border-color);
}

.action__label {
    font-size: 12px;
    color: #000;
    font-weight: 700;
    margin-top: -0.4em;
}

.action__icon {
    color: #696e79;
}

/* Main Products */
.section {
    margin: 2em 1em;
}

.section__title {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.popular-searches .section__title {
    margin: 1em 0;
    font-size: 12px;
    font-weight: 700;
    color: #282c3f;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.popular-searches .section__title::after {
    content: "";
    flex-grow: 1;
    background-color: #adaeb1;
    height: 1px;
}


.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.product {
    max-width: 300px;
    flex-basis: 200px;
}

.product__link {
    display: block;
}

.product__image {
    width: 100%;
}

/* Footer */
.footer {
    background-color: #fafbfc;
    padding: 4em 2em;
}

.footer-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.footer-column {
    flex: 1 1 180px;
}

.footer-column:has(.card) {
    flex-shrink: 0;
    flex-basis: auto;
}

.footer-menu__title {
    margin: 1em 0;
    font-size: 12px;
    font-weight: 700;
    color: #282c3f;
    text-transform: uppercase;
}

.footer-menu__link {
    color: #696b79;
    display: block;
    font-size: 15px;
    padding-bottom: 5px;
}

.footer-menu__download-icon {
    margin-right: 10px;
    height: 42px;
}

.social-icon {
    fill: #282c3f;
    width: 40px;
    height: 40px;
}

.card {
    max-width: 270px;
    margin: 1em 0;
    display: flex;
    gap: 5px;
}

.card__image {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.card__description {
    color: #696b79;
}

.popular-searches p {
    color: #696b79;
    font-size: 15px;
    line-height: 25px;
}

.copyright-section {
    margin-top: 50px;
}

.copyright-section .content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 50px;
    justify-content: space-between;
    color: #696b79;
    font-size: 15px;
    line-height: 25px;
}

.copyright-section .contact-link {
    color: #526cd0;
    font-weight: 700;
}